.contenedor-tarea {
  background-color: rgb(217, 217, 210);
  border-radius: 20px;
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  padding: 10px;
  cursor: default;
  user-select: none;
}
.contenedor-tarea:hover {
  transition: 0.4s ease;
  background-color: rgb(201, 201, 201);
}
.top {
  display: flex;
  justify-content: space-between;
}
.contenedor-tarea h3 {
 margin: 8px;
 max-height: 100px;
}
.opciones-tarea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list-link{
  display: flex;
}
.opciones-tarea button,
.edit {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.x {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.texto-tarea {
  height: 50px;
  margin: 0;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}
