.cont {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
    circle at bottom,
    rgb(0, 0, 0),
    rgb(31, 31, 31)
  );
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  border-radius: 25px;
  min-width: 140px;
}
.logo {
  margin: 2rem 10px;
  transition: 0.3s ease;
  text-align: center;
  user-select: none;
}
.logo a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}

.navbar-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  user-select: none;
  font-weight: bold;
  color: white;
}
.link {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
.active {
  transition: 0.3s ease;
  background-color: rgb(135, 136, 137);
}
.opciones {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.opciones li {
  margin: 20px 0;
}
.crear {
  margin-bottom: 10px !important;
}
.nav-link {
  text-decoration: none;
  color: rgb(120, 118, 118);
  padding: 5px;
  border-radius: 5%;
  cursor: default;
  margin-left: 20px;
}
.navbar-list li {
  cursor: pointer;
}
.navbar-list li:hover {
  transition: 0.35s ease;
  color: aquamarine;
}
@media (max-width: 2048px) {
  .cont {
    border-radius: 10px;
  }
}
@media (max-width: 1600px) {
  .cont {
    border-radius: 5px;
  }
}
