.contenedor {
  width: 100%;
}
.home h1 {
  width: max-content;
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  color: rgb(31, 31, 31);
  user-select: none;
}
.nueva-tarea{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 2048px;
  padding: 1rem;
  margin: 0 auto;
  gap: 2rem;
}
.texto {
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0);
}
.texto label {
  padding: 10px 0 ;
  font-weight: bold;
}

.texto input,
textarea {
  border-radius: 5px;
  border: 1px solid gray;
  user-select: none;
  margin: 4px;
  outline: none;
  background-color: rgba(240, 248, 255, 0);
  cursor:  text;
}
.texto textarea {
  min-height: 250px;
  resize: none;
}
.lista {
  border-radius: 5px;
  margin-bottom: 4rem;
  background-color: rgba(217, 217, 217, 0);
}

.send{
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;  
  background-color: rgb(211, 215, 213);
}
.send:hover{
  transition: 0.35s ease;
  background-color: rgb(198, 198, 198);
}
.contenedor-tarea{
  background-color: rgba(195, 195, 195, 0.685);
}
.contenedor-tarea p{
 margin-left: 1rem;
}