.contenedor {
  width: 100%;
  height: 100vh;
  font-size: 2vh;
}
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  width: 85%;
  margin-left: 15%;
}
.home h1 {
  width: 15rem;
  display: flex;
  margin-left: auto;
  justify-content: center;
  color: rgb(31, 31, 31);
  border-bottom: 1px solid rgb(34, 35, 35);
}
.texto {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 1rem;
  padding: 1rem;
}
.texto label {
  margin-left: 1rem;
  padding: 0.4rem;
  font-weight: bold;
}
.texto input,
textarea {
  border: none;
  border-bottom: 2px solid aqua;
  user-select: none;
  margin: 4px;
  outline: none;
  background-color: rgba(240, 248, 255, 0);
  cursor: default;
}
.texto textarea {
  min-height: 250px;
  resize: none;
}
.lista {
  border-radius: 2%;
  margin: 1rem;
  margin-bottom: 4rem;
  background-color: rgba(217, 217, 217, 0);
}
.home .listaa {
  margin-top: 6rem;
}
.send{
  border: none;
  cursor: pointer;
  width: 5rem;
  padding: .5rem;
  margin-left: auto;
  margin-right: auto;  
  border-radius: 5%;
  background-color: rgb(211, 215, 213);
}
.send:hover{
  transition: 0.35s ease;
  background-color: rgb(192, 197, 195);
}
.contenedor-tarea{
  background-color: rgba(195, 195, 195, 0.685);
}
.contenedor-tarea p{
 margin-left: 1rem;
}